.sign-in {
	width: 600px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	
	.sign-in-form {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}

	.buttons {
		display: flex;
		justify-content: flex-start;

		.custom-button:not(:last-child) {
			margin-right: 20px;
		}
	}
}
