.collection {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 30px;

	.title {
		font-size: 2rem;
		text-transform: capitalize;
		grid-row: 1 / 2;
		grid-column: 1 / -1;
	}
}
