.sign-in {
	width: Min(600px, 100%);
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;

	.sign-in-form {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}

	.buttons {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
		gap: 10px;
	}
}
