.checkout-item {
  td {
    height: 200px;
    padding: 10px;
    border-bottom: 1px solid grey;

    img {
      max-height: 100%;
      width: 50%;
      object-fit: cover;
    }

    button {
      border: none;
      background: transparent;
      font-size: 1.5rem;
      font-weight: 800;
    }
  }
}